astroid==3.3.5
baseline_models @ git+https://git@github.com/ALLAN-DIP/baseline-models.git@2f386249d3d1e8ae8c6c77784b9b38d6705e65ab
bcrypt==4.2.0
certifi==2024.7.4
cfgv==3.4.0
charset-normalizer==3.3.2
coloredlogs==15.0.1
daidepp @ git+https://git@github.com/SHADE-AI/daidepp.git@7f6dcca60f2e6dd89c37862663be7b098cc03794
dill==0.3.9
diplomacy @ git+https://git@github.com/ALLAN-DIP/diplomacy.git@3af242e3db6dffc1e6683389274f6f1d1ae2a728
distlib==0.3.9
filelock==3.16.1
humanfriendly==10.0
identify==2.6.3
idna==3.7
iniconfig==2.0.0
isort==5.13.2
joblib==1.4.2
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
parsimonious==0.9.0
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.0.1
pylint==3.3.2
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
regex==2024.7.24
requests==2.32.3
scikit-learn==1.4.1.post1
scipy==1.14.1
setuptools==72.2.0
six==1.16.0
threadpoolctl==3.5.0
tomlkit==0.13.2
tornado==6.4.1
tqdm==4.66.5
typing_extensions==4.12.2
ujson==5.10.0
urllib3==2.2.2
virtualenv==20.28.0
