astroid==3.2.4
bcrypt==4.2.0
certifi==2024.7.4
cfgv==3.4.0
charset-normalizer==3.3.2
coloredlogs==15.0.1
daidepp @ git+https://git@github.com/SHADE-AI/daidepp.git@7f6dcca60f2e6dd89c37862663be7b098cc03794
dill==0.3.8
diplomacy @ git+https://git@github.com/ALLAN-DIP/diplomacy.git@68b5e3343e77591e1a879b0d6074a0c8b7fede8e
distlib==0.3.8
filelock==3.15.4
humanfriendly==10.0
identify==2.6.0
idna==3.7
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
parsimonious==0.9.0
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.8.0
pylint==3.2.6
pytest==8.3.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
regex==2024.7.24
requests==2.32.3
setuptools==72.2.0
six==1.16.0
tomlkit==0.13.2
tornado==6.4.1
tqdm==4.66.5
typing_extensions==4.12.2
ujson==5.10.0
urllib3==2.2.2
virtualenv==20.26.3
