daidepp @ git+https://git@github.com/SHADE-AI/daidepp.git@e9c1da4d8dfd929ee6316f788eea04af0a392c14
# Pinned `diplomacy` to `main`
diplomacy @ git+https://git@github.com/ALLAN-DIP/diplomacy.git@f4ec4517dc5ea3c3ed787d3ad483ce01f4f0e0ea
tornado
